html,
body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    font-family: "Noto Sans", sans-serif;
}

main {
    /* margin: 16rem 0 0 clamp(0%, 38vw, 38%); */
    margin-top: 16rem;
    margin-left: clamp(1rem, 38vw, 38%);
    width: min(50rem, calc(100% - 2rem));
}

h1 {
    margin: 0;

    font-weight: 300;
    letter-spacing: 0.15rem;
}

p {
    margin-top: 1rem;
    font-size: 1rem;

    font-weight: 350;
    letter-spacing: 0.1rem;
}

code {
    font-weight: 300;
}

a {
    color: inherit;
}

table {
    border-collapse: collapse;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    width: 100%;
}

td {
    padding-top: 0.25rem;
}

td:first-child {
    width: 21rem;
    font-weight: 500;
    text-align: left;
    opacity: 0.9;
}

/* Tablet */
@media (max-width: 1023px) {
    main {
        margin: 5rem auto;
        width: calc(100% - 2rem);
    }

    td:first-child {
        padding-right: 1rem;
    }
}

/* Mobile */
@media (max-width: 480px) {
    main {
        margin: 3rem 2rem;
    }

    a {
        display: block;
    }

    table {
        font-size: 0.9rem;
    }

    td {
    }

    td:first-child {
        width: 10rem;
    }
}
